<div class="contact">
    <div class="container">
        <div class="content-contact mt-7">
            <p class="uppercase text-center text-4xl font-bold">contact section</p>
            <div class="line mb-4 flex flex-row m-auto mt-4 w-fit">
    <div class="f-line "></div>
    <i class="fa-solid fa-star "></i>
    <div class="sec-line"></div>
</div>
<div class="inputs-sec mb-12 mt-9">       

 <div class="myinput text-center m-auto p-3 relative ">
   <label  [class.hidden]="!focused['userName']" [class.active]="focused['userName']" >userName :</label>
  <input (input)="riseLabel($event,'userName')" class="w-2xl m-auto rounded-md p-3 " type="text" placeholder="userName">
  
</div>
<div class="myinput text-center m-auto p-3 relative ">
   <label [class.hidden]="!focused['userAge']" [class.active]="focused['userAge']" >userAge :</label>
  <input (input)="riseLabel($event,'userAge')" class="w-2xl m-auto rounded-md p-3  " type="text" placeholder="userAge">
  
</div>
<div class="myinput text-center m-auto p-3 relative ">
  <label [class.hidden]="!focused['userEmail']" [class.active]="focused['userEmail']">userEmail :</label>
  <input (input)="riseLabel($event,'userEmail')" class="w-2xl m-auto rounded-md p-3  " type="email" placeholder="userEmail">
</div>

<div class="myinput text-center m-auto p-3 relative">
  <label [class.hidden]="!focused['userPassword']" [class.active]="focused['userPassword']">userPassword :</label>
  <input (input)="riseLabel($event,'userPassword')" class="w-2xl m-auto rounded-md p-3  " type="password" placeholder="userPassword">
</div>
<button class="btn-my mt-3 px-3 py-1.5 rounded-md">send Message</button>
</div>
  
        </div>
    </div>
    
</div>


