<div class="about  bg-teal-500 dark:bg-cyan-950">
    <div class="container">
        <div class="content-about m-auto flex flex-col justify-content-center">
            
            <p class="uppercase  text-4xl text-white text-center font-bold">about component</p>
            <div class="line mb-4 flex flex-row m-auto mt-4">
    <div class="f-line "></div>
    <i class="fa-solid fa-star "></i>
    <div class="sec-line"></div>
</div>

            <div class="grid grid-flow-col grid-rows-2 gap-1">
                <div class="row-span-1 text-white text-start"><p>Freelancer is a free bootstrap theme created by Route. The download includes the complete source files including HTML, CSS, and JavaScript as well as optional SASS stylesheets for easy customization.</p></div>
                <div class="row-span-2 text-white text-start"><p>Freelancer is a free bootstrap theme created by Route. The download includes the complete source files including HTML, CSS, and JavaScript as well as optional SASS stylesheets for easy customization.</p></div>
            </div>
        </div>
    </div>
</div>
