.about{background-color: #1ABC9C;padding-top:250px ; padding-bottom: 140px;}
.content-about{width: 80%;}
.line i {color: white; } 
.f-line{border-bottom: 4px solid white; width: 85px; height: 5px; margin-top: 5px; margin-right: 25px;}
.sec-line{border-bottom: 4px solid white; width: 85px; height: 1px; margin-top: 5px; margin-left: 25px;}