.footer{background-color: #2C3E50; padding-block: 90px;}
.footer-copy{background-color:#1A252F;}
.icons i{font-size: 16px; }
.first{ border: 1px solid white; border-radius: 50%; margin-inline: 5px;  padding-block: 6px; padding-inline: 8px;}