<div class="footer bg-foot-nav dark:bg-foot-nav-dark ">
    <div class="container">
        <div class="grid grid-flow-col grid-rows-3 gap-4 m-auto">
<div class="row-span-2 text-center text-white">
    <h5 class="font-semibold text-3xl mb-2">LOCATION</h5>
<p>2215 John Daniel Drive</p>
<p>Clark, MO 65243</p>
</div>
    <div class="row-span-2  text-center text-white">
    <h5 class="font-semibold text-3xl mb-2">AROUND THE WEB</h5>
    <div class="icons flex flex-row justify-center">
       <div class="first"><i class="fa-brands fa-facebook"></i></div> 
        <div class="first"><i class="fa-brands fa-twitter"></i></div>
        <div class="first"><i class="fa-brands fa-linkedin-in"></i></div>
        <div class="first"><i class="fa-solid fa-globe"></i></div>
    
    </div>
</div>
<div class="row-span-3 text-center text-white">
    <h5 class="font-semibold text-3xl mb-2">ABOUT FREELANCER</h5>
    <p class="w-80 m-auto">Freelance is a free to use, licensed Bootstrap theme created by Route</p>
</div>
        </div>
    </div>
</div>
<div class="footer-copy text-center py-3 bg-copyright dark:bg-copyright-dark">
<p class="text-white">Copyright © Your Website 2021</p>
</div>
