<div class="footer ">
    <div class="container">
        <div class="row">
<div class="col-sm col-lg-4 text-center text-white">
    <h5 class="fw-semibold fs-3">LOCATION</h5>
<p>2215 John Daniel Drive</p>
<p>Clark, MO 65243</p>
</div>
    <div class="col-sm col-lg-4 text-center text-white">
    <h5 class="fw-semibold fs-3">AROUND THE WEB</h5>
    <div class="icons d-flex flex-row justify-content-center">
       <div class="first"><i class="fa-brands fa-facebook"></i></div> 
        <div class="first"><i class="fa-brands fa-twitter"></i></div>
        <div class="first"><i class="fa-brands fa-linkedin-in"></i></div>
        <div class="first"><i class="fa-solid fa-globe"></i></div>
    
    </div>
</div>
<div class="col-sm col-lg-4 text-center text-white">
    <h5 class="fw-semibold fs-3">ABOUT FREELANCER</h5>
    <p>Freelance is a free to use, licensed Bootstrap theme created by Route</p>
</div>
        </div>
    </div>
</div>
<div class="footer-copy text-center py-3">
<p class="text-white">Copyright © Your Website 2021</p>
</div>
