.home{ padding-top: 150px; padding-bottom: 45px;}
.line i {color: white; } 
.f-line{border-bottom: 4px solid white; width: 85px; height: 5px; margin-top: 5px; margin-right: 25px;}
.sec-line{border-bottom: 4px solid white; width: 85px; height: 1px; margin-top: 5px; margin-left: 25px;}
.img{width: 23%;}



